body {
    background-color: rgb(255, 255, 255);
    padding: 1em;
    margin: 0em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav {
    margin-bottom: 1em;
    text-align: center;
}
nav a {
    cursor: pointer;
    display: inline-block;
    margin-right: 1em;
    text-decoration: none;
}
nav a:link {
    color: black;
}
nav a:visited {
    color: black;
}
nav a:hover {
    color: rgb(255, 0, 0);
}
nav a:active {
    color: black;
}
article {
    background-color: rgb(255, 211, 211);
    
    border-radius: 1em;
    margin: 1em;
    padding: 1em;
}
.hide {
    display: none;
}
.show {
    display: block;
}
#main-table th, #main-table td {
    padding: 0.25em 0.5em;
}